<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">What's your Favorite food?</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">We hope you will get your favorite food right after half an hour of your order. Do not miss chance of not opting for your favorite food. We provide doorstep service in just 30 Minutes.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="Img/1.jpeg" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">CHINNESE</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Green Salad</h2>
          <p class="leading-relaxed text-base">Good for health and full of green vegetables. These might be a perfet meal for a getting healthy. </p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="Img/3.webp" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Hungarian Kofta</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Vegan Kofta</h2>
          <p class="leading-relaxed text-base">You can taste the feel of traving around the world just siting in your room. We makes your dream alive.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="Img/4.jpeg" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Indian Paper</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Dal Bhujia</h2>
          <p class="leading-relaxed text-base">We present the Dal made of special Indian Pepper with many more. Taste the versality of India in pepper.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="Img/5.jpeg" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Japan Fruits</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Food Cutlet</h2>
          <p class="leading-relaxed text-base">These multi-fruit mixture is for the person on diet and for children also. This Snacks is full of neutrient. And no need to elaboreate the importance of it.</p>
        </div>
      </div>
    </div>
  </div>
</section>